<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press Start 2P">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div id="banner">
    <h1 style="font:Press Start 2P">D&D DB</h1>
    <h2 style="font:Press Start 2P">The Cove's Goods - A D&D Interactive Shop !</h2>
    <hr>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
    </ul>

<div class="container">
  <div style="text-align:left">
    <p> Thanks for visiting our website! We hope you enjoyed the experience. <br>
        If you have any questions, comments or suggestions, please feel free to contact us using the "Contact" section. 
    </p>

    <h3>About us</h3>
    <p>
        We are two French Engineering students, passionnate about D&D and tabletop in general.
        We created this website as part of our course "Cloud Computing" at the ESILV Engineering School.
        We chose to create an interactive webapp, complete with an immersive UI and a connected database. The webapp is designed to provide a library of fantasy-themed item cards for the D&D 5E tabletop. It is aimed at fans of roleplay games and homebrew (fan-made content).
        We designed it using two dockerized systems, one for the database that contains the item cards, and the other for the frontend of the project.
    </p>

    <h3>Credits</h3>
    <p>
        The website was created using the Flask framework, and the database is hosted on MongoDB Atlas. <br>
        Assets for the witch and effects were created by <a href="https://9e0.itch.io/witches-pack">9e0</a>.
        Musics were composed by <a href="https://soundcloud.com/abstraction">Abstraction</a>.<br>    
        Thanks for their work!
    </p>
    
    
  </div>
</div>

</body>
</html>