<!DOCTYPE html>
<html>
  <head>
    <title>D&D DB</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
 </head>
 
  <body>
    <div id="banner" width="100%">
      <img src="..\static\images\logo_D&D.png" alt="D&D logo" width="150px">
      <p>The Cove's Goods - A D&D Interactive Shop !</p>
      <hr>
    </div>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <div style="display: flex;justify-content: center;align-items: center;">
      <div class="grid-container">
        <div>
          <img src="..\BDD content\images\hammer-of-thunderbolts.jpg" alt="Item 1" width="150px">
        </div>
        <div>
          <img src="..\BDD content\images\hammer-of-thunderbolts.jpg" alt="Item 2" width="150px">
        </div>
        <div>
          <img src="..\BDD content\images\hammer-of-thunderbolts.jpg" alt="Item 3" width="150px">
        </div>  
        <div>
          <img src="..\BDD content\images\hammer-of-thunderbolts.jpg" alt="Item 4" width="150px">
        </div>
        <div style="border: 1px solid #cfb286;" >
          <img src="..\static\animations\merchant\B_witch_idle_rescale_120.gif" alt="Item 5" width="150px">
        </div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
    </div>
  </div>
    
  </body>
</html>